int main() {
    setlocale(LC_CTYPE, "ukr");
    double width = 30.0;
    double length = 40.0;
    double numFloors = 2.5;
    double nonResidentialArea = 825.0;
    double totalCost = 150000.0;

    double totalArea = width * length * numFloors;

    double costPerSquareMeter = (totalCost - nonResidentialArea) / totalArea;

    cout << "Загальна житлова площа будинку: " << totalArea << " кв. м" << endl;
    cout << "Вартість одного квадратного метра житлової площі: " << costPerSquareMeter << " грн/кв. м" << endl;

    return 0;
}
